<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorator="layouts/main" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>      
	<!-- Set your background image for this header on the line below. -->
	<header th:fragment="headerFragment" class="masthead" style="background-image: url('/img/home-bg.jpg')">
	    <div class="container">
	        <div class="row">
	        	<div class="col-lg-8 col-md-10 mx-auto">
		            <div class="site-heading">
		              	<h1>Clean Blog</h1>
		              	<span class="subheading">A Blog Theme by Start Bootstrap</span>
		            </div>
		        </div>
	        </div>
	    </div>
	</header>
</body>
</html>