<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
	<link rel="stylesheet" th:href="@{/markdown/css/github-gist.css}" />
    <title>Post</title>

</head>

<body>
    <div class="container" layout:fragment="content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<div class="post-heading">
			      	<h1 th:utext="${post.title}"></h1>
			      	<h2 class="subheading" th:utext="${post.subtitle}" style="margin-bottom:3%"></h2>
			  	</div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" th:utext="${post.content}">
            </div>
        </div>
        <form class="form-narrow form-horizontal" th:action="@{'/posts/'+${id}+'/delete'}" th:object="${postDto}" method="post" th:id="post">
	        <div class="pull-right">
				<button type="submit" onclick="if(!confirm('삭제하시겠습니까?')){return false;}" class="btn btn-danger">Delete</button>
			</div>
		</form>
    </div>
</body>

</html>